<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />

    <!-- STYLE -->
    <link rel="stylesheet" href="../../static/style/css/main.css" />

    <title></title>
  </head>
  <body>

    {% include "./components/header.html" %}

    <div class="container-gallery">
      <div class="main gallery">
        {% for product in products %}
        <a class="card-gallery" href="{{ product.id }}">
          <img src="{{ product.image }}" alt="image article" />
          <div class="card-gallery-hidden">
            <h3>{{ product.name }}</h3>
            <span>{{ product.price }} $</span>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

  </body>
</html>
