.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .card-gallery {
    position: relative;
    height: 250px;
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card-gallery-hidden {
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.1s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px;
      color: $color-white;
      h3{
        text-transform: capitalize;
      }
      a {
        position: absolute;
      }
      span {
        font-weight: 100;
      }
    }
    &:hover {
      .card-gallery-hidden {
        opacity: 1;
      }
    }
  }
  &::after {
    content: '';
    display: block;
    flex-grow: 10;
  }
}

.card-detail {
  display: flex;
  gap: 20px;
  img {
    width: 70%;
    max-height: 700px;
    object-fit: cover;
  }
  .sold-out{
    color: $color-red;
  }
  .low-stock{
    color: $color-red;
  }
  h2{
    text-transform: capitalize;
  }
  @media screen and (max-width: 768px) {
    img {
      width: 100%;
    }
    flex-direction: column;
  }
  .card-detail-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
